#!/bin/bash

# Log stdout and stderr to file
exec &> /tmp/xprofile.log

echo $1

pulseaudio -D

case $1 in
  bspwm)
     sxhkd -s /tmp/sxhkd.fifo &
     compton --backend glx --vsync drm &
     wmname LG3D
     ;;
esac
