#!/bin/bash

logFile="/home/$USER/.xprofile.log"

pulseaudio -D &>> $logFile

date >> $logFile
echo $@ >> $logFile

case $1 in
  bspwm)
     sxhkd -s /tmp/sxhkd.fifo &>> $logFile &
     compton --backend glx --vsync opengl &
     urxvt &
     wmname LG3D
     ;;
esac

/usr/bin/xscreensaver -no-splash & #Screen savers!
